@use "/src/assets/styles/styles.scss" as *;

.ipinfo_main {
  @include block33;
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    li {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      //   font-size: 1.5rem;
      font-weight: 700;
    }
  }
}
