@import "../../assets/styles/variables";
.main {
  margin-top: 20px;
  padding: 0 20px;

  li {
    opacity: 0.5;
    width: 200px;
    padding: 10px 20px;
    border-radius: $border-radius;
    transition: 0.3s linear;
  }
  li:hover {
    opacity: 1;
    background-color: $color-block;
    a {
      color: $color-violet;
    }
  }
}
